# Secrets
.env

# Angular
node_modules/
dist/
.angular/

# Java / Maven
target/
*.class
*.jar
*.war

# IDE
.vscode/
.idea/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Supabase
supabase/.temp/

# docs ia
.agents
AGENTS.md
nul
opencode.json
skills-lock.json

